$black: #000000;
$white: #FFFFFF;
$gray: #CCCCCC;
$accent: #FCB32B;
$primary-color: #E20C1E;
$secondry-color: #262626;
$top-header-background-color: #F2F2F2;
$nav-menu-dropdown-border-color: #BFBFBF;
$nav-menu-dropdown-font-color: #7B7B7B;
$nav-dropdown-background-color: #F1F1F1;
$nav-dropdown-hover-background-color: #DDDDDD;
$nav-dropdown-box-shadow: rgba(0,0,0,0.2);

:root {
  --black: #000000;
  --white: #FFFFFF;
  --gray: #CCCCCC;
  --accent: #FCB32B;
  --primary-color: #E20C1E;
  --secondry-color: #262626;
  --top-header-background-color: #F2F2F2;
  --nav-menu-dropdown-border-color: #BFBFBF;
  --nav-menu-dropdown-font-color: #7B7B7B;
  --nav-dropdown-background-color: #F1F1F1;
  --nav-dropdown-hover-background-color: #DDDDDD;
  --nav-dropdown-box-shadow: rgba(0,0,0,0.2);
}
