.Header {
  background-color: var(--white);
}
.TopHeader {
  display: none;
}
.Wrapper {
  display: flex;
  align-items: center;
}
.HeaderLaguage {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.SocialLogoRight {
  margin-left: auto;
}
.HeaderLaguageList {
  list-style: none;
}
.LaguageFont,
.Date {
  font-weight: var(--bold);
  color: var(--nav-menu-dropdown-font-color);
  text-decoration: none;
  border-left: 2px solid var(--gray);
  padding: 0 10px;
}
.Date {
  border-left: none;
}
.LaguageFont:hover {
  color: var(--black);
  border-color: var(--black);
  font-weight: var(--bolder);
}

.Logo {
  display: flex;
  align-items: center;
}
.mobileLogo {
  font-size: var(--fontSize-3);
  color: var(--accent);
  cursor: pointer;
}
.PublisherLogo {
  padding: 20px 0;
  width: 50%;
}
.searchIcon {
  display: block;
  color: var(--accent);
  font-size: var(--fontSize-4);
  padding-right: var(--base-spacing);
  margin-left: auto;
  background: var(--white);
  border-color: var(--white);
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .TopHeader {
    display: block;
    background-color:  var(--top-header-background-color);
    padding: 10px 0;
  }
  .PublisherLogo {
    height: calc(var(--base-spacing-desktop)*4.5);
    width: auto;
  }
  .mobileLogo {
    display: none;
  }
  .searchIcon {
    display: none;
  }
}
