.homePageTopAddCard {
  display: none;
}
.separetor {
  margin: 10px 0;
  border-color: var(--small-card-border-bottom-color);
}
.otherTopStory:last-child {
  border: none;
}
@media (min-width: 767px) {
  .card {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: calc(var(--base-spacing-desktop)*.5);
  }
  .homePageTopCollectionCard {
    grid-column: 1 / 10;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-gap: calc(var(--base-spacing-desktop)*.5);
  }
  .homePageTopAddCard {
    display: block;
    grid-column: 10 / 13;
  }
  .topStory {
    grid-column: 1 / 7;
  }
  .otherTopStory {
    grid-column: 7 / 10;
  }
  .twoCol {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: calc(var(--base-spacing-desktop)*.5);
  }
}

