.carousel {
  :global(.control-arrow) {
    margin: 4%;
    top: calc(50% - 27px) !important;
    height: 54px !important;
    width: 32px !important;
    opacity: 1 !important;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
    }
    :global(.control-arrow) {
      display: none;
    }
    &:hover :global(.control-arrow) {
      display: block;
    }
  }
}

.story {
  height: 0;
  padding-top: calc(100% * (9 / 16));
  overflow: hidden;
  position: relative;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
}

.author,
.section {
  text-transform: uppercase;
}

.details {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 15%;
  z-index: 200;
  padding-bottom: 56px;

  h2,
  .author,
  .section {
    color: white;
    text-align: left;
  }
}
